.chapter_container
{
    width: 100%;
}
.chapter_panel
{
    background-color: #424242;
    margin: 6px 2px;
    padding: 3px 4px;
    border-radius: 2px;
}
.chapter_name_vers>p
{
    font-size: 14px;
}
.chapter_bottom
{
    font-size: 10px !important;
}