.followed_manga
{
    width: 95%;
    height: 100%;
    position: relative;
}
.followed_manga_title
{
    padding-left: 30px;
}
.followed_manga_container
{
    width: 100%;
}
.followed_page_container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}