*{
  margin: 0;
  
}
.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(31, 31, 31),rgb(41, 41, 41)); 
  color: white ;
}
.router_link
{
  color: white !important;
  text-decoration: none !important;
}



